In [ ]:
!pip install tweepy==4.10.0 --q
!pip install wget --q

In [39]:
import tweepy
import json
import numpy as np
import pandas as pd

In [12]:
print('TweePy version is:', tweepy.__version__)

TweePy version is: 4.10.0

In [13]:
def authenticate(creds_path):
    '''
    read the credentials and authenticate to Twitter 
    :param creds_path: str, containing path to credentials file
    :return: api, the authenticated API object 
    '''
    with open(creds_path, mode='r') as f: creds = json.load(f)
    C_KEY, C_SECRET = creds['api_key'], creds['api_key_secret']
    A_TOKEN, A_TOKEN_SECRET = creds['access_token'], creds['access_token_secret']
    auth = tweepy.OAuthHandler(consumer_key=C_KEY, consumer_secret=C_SECRET)
    auth.set_access_token(key=A_TOKEN, secret=A_TOKEN_SECRET)
    api = tweepy.API(auth=auth, wait_on_rate_limit=True)
    return api

In [26]:
USR_NAME = 'MariusCrypt0'

api = authenticate(creds_path='/content/twitter_creds.json')
timeline = api.user_timeline(screen_name=USR_NAME, count=10, exclude_replies=True, include_rts=True)

In [27]:
timeline_df = pd.DataFrame(data=[[len(tweet.text), tweet.text, tweet.created_at, tweet.user.screen_name] for tweet in timeline], columns = ['Tweet_Length', 'Tweet_Text', 'Tweet_Date', 'UserName'])
timeline_df.head(10)

,Tweet_Length,Tweet_Text,Tweet_Date,UserName
0,140,RT @vela_exchange: Say hello to Multichain Dep...,2023-03-02 22:50:24+00:00,MariusCrypt0
1,64,$VELA just activated buybacks.\n\nSend it! htt...,2023-03-02 22:48:02+00:00,MariusCrypt0
2,78,RT @CryptoNoob_1: #Bitcoin #BTC \nHistory Repe...,2023-03-02 22:42:18+00:00,MariusCrypt0
3,140,RT @HeyItsMeTheDev: Flying to Los Angeles tomo...,2023-03-02 22:03:35+00:00,MariusCrypt0
4,130,Do you know why $BAG pumped so much yesterday?...,2023-03-02 21:30:35+00:00,MariusCrypt0
5,126,"Yes, crypto is a full-time job.\n\nYes, it pay...",2023-03-02 20:37:11+00:00,MariusCrypt0
6,139,1/2\n\nThere's a new IDO coming up on the @Tru...,2023-03-02 20:24:21+00:00,MariusCrypt0
7,140,RT @ChadCaff: Arbitrum has the highest stablec...,2023-03-02 20:07:50+00:00,MariusCrypt0

In [54]:
tmp = timeline[2]

In [29]:
tweet_time = tmp.created_at.strftime('%a, %d/%B/%Y, %H:%M %Z')
print(tweet_time)

Thu, 02/March/2023, 22:42 UTC

In [ ]:
from PIL import Image
import wget

media_files = tmp.entities.get('media', [])
for idx, media_file in enumerate(media_files):
    media_url = media_file['media_url']
    media_name = tmp.id_str + '_' + str(idx) + media_url[media_url.rfind('.'):]
    img = wget.download(url=media_url, out=media_name)

In [104]:
if tmp.text.startswith('RT'):
    original_author = tmp.entities.get('user_mentions')[0].get('screen_name')
    print(original_author)

CryptoNoob_1